* {
    box-sizing: border-box;
    font-family: arial, sans-serif;
}
html {
    scroll-behavior: smooth;
}

a:link, a:visited {
    color: white;
    text-decoration: none;
}

a:hover {
    color: black;
}

header {
    background-color: #6F438E;
    padding: 1rem;
}
body {
    margin: 0;
    background-color: white;
}

footer {
    background-color: #744691;
}
footer h3{
    color: white;
    margin-top: 3rem;
}
footer p {
    color: white;
    padding: .5rem 0;
    margin: 0;
}
.footer-2 img {
    background: none;
    text-decoration: none;
    height: 40px;
    padding-right: 14px;
}
hr {
    width: 100%;
    color: white;
}

/*@font-face {
    font-family: "cooper-black-std";
    src: url("https://use.typekit.net/irm7wno.css");
  } */

  @import url("https://p.typekit.net/p.css?s=1&k=irm7wno&ht=tk&f=6839.6840&a=24916891&app=typekit&e=css");

  @font-face {
  font-family:"cooper-black-std";
  src:url("https://use.typekit.net/af/9044bf/000000000000000000013102/27/l?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=i4&v=3") format("woff2"),url("https://use.typekit.net/af/9044bf/000000000000000000013102/27/d?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=i4&v=3") format("woff"),url("https://use.typekit.net/af/9044bf/000000000000000000013102/27/a?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=i4&v=3") format("opentype");
  font-display:auto;font-style:italic;font-weight:400;font-stretch:normal;
  }
  
  @font-face {
  font-family:"cooper-black-std";
  src:url("https://use.typekit.net/af/4e1b68/000000000000000000013101/27/l?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n4&v=3") format("woff2"),url("https://use.typekit.net/af/4e1b68/000000000000000000013101/27/d?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n4&v=3") format("woff"),url("https://use.typekit.net/af/4e1b68/000000000000000000013101/27/a?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n4&v=3") format("opentype");
  font-display:auto;font-style:normal;font-weight:400;font-stretch:normal;
  }
  
.tk-cooper-black-std { font-family: "cooper-black-std",serif; }

h1 {
    font-size: 200%;
    color: white;
    font-family: "cooper-black-std", sans-serif;
    text-decoration: none;
    text-align: justify;
    padding-left: 10%;
    margin-top: 10%;
}
h2 {
    font-size: 200%;
    color: transparent;
    font-family: "cooper-black-std", sans-serif;
    text-decoration: none;
    text-align: justify;
    padding-left: 10%;
    -webkit-text-stroke: 1px white;
}
h3 {
    font-size: 2.5rem;
    color: #6F438E;
    font-family: "cooper-black-std", sans-serif;
    text-decoration: none;
    text-align: center;
    padding: 1rem;
}
h4 {
    font-size: 1.25rem;
    color: white;
    text-decoration: none;
    font-weight: bold;
}
p {
    font-size: 1rem;
    color: black;
    text-decoration: none;
    padding-bottom: 1rem;
    padding-left: 1.5rem;
    margin-bottom: 2rem;
    line-height: 1.5rem;
}
img {
    max-width: 100%;
    image-rendering: -webkit-optimize-contrast;
}
svg {
    background-color: transparent;
    image-rendering: -webkit-optimize-contrast;
}

/* Navbar */
.container {
    display: flex;
    flex-wrap: wrap;
}
.navbar-1 {
    padding: 10% 10% 0 20%;
}
.navbar-2 {
    padding: 9%;
}
.navbar-right-1 {
    flex-grow: 1;
}

.navbar-right-1 a {
    text-decoration: none;
}
.download-app-button {
    background-color: white;
    font-size: 0.8rem;
    text-align: center;
    padding: 10px 2rem;
    width: 100%;
    margin: 0.75rem;
    border-color: white;
    border-radius: 30px;
    box-shadow: 0 0.125rem 0.5rem rgb(0 0 0 / 15%);
    display: inline-block;
    transition: background-color 0.5s ease;
}
.button:hover {
    background-color: lightgrey;
}

/* container mobile layout */
.container-2 {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}
.container-3 {
    background: url(/LJ2/pink-purple-gradient-bg.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;   
}

/* Body Part for aboutus*/
.about-us-1 img{
    display: none;
}
.about-us-2 a {
    color: white;
    text-decoration: none;
}
.products-button {
    background-color: #6F438E;
    font-size: 100%;
    padding: 2% 10%;
    margin: 10% 10% 20% 30%;
    border: 2px;
    border-color: rgb(133 130 130);
    border-radius: 30px;
    box-shadow: 0 0.125rem 0.5rem rgb(0 0 0 / 15%);
    transition: background-color 0.5s ease;
}
.products-button:hover {
    background-color: #707070;
}
.ourbrands img {
    margin-bottom: 5%;
    padding: 1%;
}

 /* Body Part for Smoothies Page */
 .smoothies {
    background-image: url(/LJ2/bottlesforlandingpagewofruits.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
 }
.smoothies img {
    animation: fruits .5s ease-in-out infinite alternate;
    transform-origin: center;
    transform-box: fill-box;
}
@keyframes fruits {
 from {
     transform: translatey(0%);
 }
 to {
     transform: translatey(2%);
 }
}
 .smoothies-body-bg {
    background: rgb(111,67,142);
    linear-gradient: (180deg, rgba(111,67,142,1) 3%, rgba(27,20,100,1) 10%, rgba(245,229,212,1) 16%, rgba(116,70,145,1) 37%, rgba(255,255,255,1) 38%)
}

 .smoothies-1 h2{
    padding: 2rem;
    margin-top: 3rem;
 }
 .smoothie-2 {
    width: 50%;
    margin-left: 25%;
 }
 .smoothie-3 {
    width: 50%;
    margin-left: 25%;
 }
 .smoothie-4  {
    width: 50%;
    margin-left: 25%;
    margin-bottom: -6%;
    padding-bottom: 15%;
 }

#berrysmoothiebottle,
#berrysmoothiebottleshadow {
    animation: berrysmoothie 4s ease-in-out infinite alternate;
    transform-origin: bottom;
    transform-box: fill-box;
    position: relative;
}

@keyframes berrysmoothie {
    from {
        transform: translatey(0%);
    }
    to {
        transform: translatey(10%);
    }
}

#greensmoothiebottle,
#greensmoothiebottleshadow {
    animation: greenbottle 4s ease-in-out infinite alternate;
    transform-origin: bottom;
    transform-box: fill-box;
    position: relative;
}

@keyframes greenbottle {
    from {
        transform: translatey(10%);
    }
    to {
        transform: translatey(0%);
    }
}

#orangebottlesmoothie,
#orangebottlesmoothieshadow {
    animation: orangebottle 4s ease-in-out infinite alternate;
    transform-origin: bottom;
    transform-box: fill-box;
    position: relative;
}

@keyframes orangebottle {
    from {
        transform: translatey(0%);
    }
    to {
        transform: translatey(10%);
    }
}

 /* Body Part for Berry Page */
 .berry-body-bg {
    background: rgb(111,67,142);
    background: linear-gradient(180deg, rgba(111,67,142,1) 3%, rgba(27,20,100,1) 19.9%, rgba(245,229,212,1) 19%, rgba(116,70,145,1) 38.2%, rgba(255,255,255,1) 37%);
 }
/* Berry Mobile Layout */
.berry{
    background-image: url(/LJ2/berrypage-compressed.png);
    background-repeat: no-repeat;
    background-size: cover;
    padding-bottom: 11%;
    background-position: center;
    margin-top: -10%;
    margin-bottom: 10%;
 }



 /* Body Part for Orange Page */
.orange-body-bg {
    background: rgb(111,67,142);
    background: linear-gradient(180deg, rgba(111,67,142,1) 7%, rgba(253,146,31,1) 19.7%, rgba(209,197,184,1) 20%, rgba(116,70,145,1) 37.6%, rgba(255,255,255,1) 35%);
} 
/* orange mobile layout */
.orange {
    background-image: url(/LJ2/orangepage-min.png);
    background-repeat: no-repeat;
    background-size: cover;
    padding-bottom: 23%;
    background-position: center;
    margin-top: -10%;
 }




  /* Body Part for Green Page */
.green-body-bg {
    background: rgb(111,67,142);
    background: linear-gradient(180deg, rgba(111,67,142,1) 7%, rgba(174,211,32,1) 20.3%, rgba(209,197,184,1) 20%, rgba(116,70,145,1) 39%, rgba(255,255,255,1) 37%);
} 
/* green mobile layout */
.green {
    background-image: url(/LJ2/greenpage-compressed.png);
    background-repeat: no-repeat;
    background-size: cover;
    padding-bottom: 22%;
    background-position: center;
    margin-top: -10%;
    margin-bottom: 10%;
 }

 .benefits-info img{
   flex-shrink: 0;
   object-fit: contain;
   padding: 2rem 2rem;
 }
 .benefits-info {
    display: flex;
    width: 50%;
    height: 70%;
    margin-top: 1%;
    animation: greenpage 20s infinite linear;
}

@keyframes greenpage {
    0%, 100% {
        transform: translate3d(0,0,0);
      }
     60% {
        transform: translate3d(-100%,0,0);
      }
   }

 /* for orange, berry, and green page */
.product-image-1 img {
    margin: 10% 5%;
    width: 90%;    
}
.product-image-2 img {
    margin: 5%;
    width: 90%; 
}
.product-image-3 img {
    margin: 5%;
    width: 90%;  
}
.product-image-4-button {
    margin: 5% 5% 10% 5%;
    flex-grow: 1;
    }
.product-image-4-button a{
        color: #6F438E;
        text-decoration: none;
     } 
.backtohomepage-button {
        font-size: 68%;
        padding: 1.5rem 8%;
        text-align: center;
        border-color: black;
        box-shadow: 0 0.125rem 0.5rem rgb(0 0 0 / 15%);
        transition: background-color 0.5s ease;
     }
.backtohomepage-button:hover {
        color: white;
        background-color: #b1b1b1;
     } 





/**** Elements Desktop Layout ****/
@media screen and (min-width: 40rem) {
.container {
    width: min(100%, 90rem);
    margin: 0 auto;
    display: grid;
    gap: 1.5rem;
    grid-template-columns: repeat(12, 1fr);
    margin-bottom: 2rem;
}
.container > * {
    grid-column: span 12;
}
.container-2 {
    width: min(100%, 90rem);
    margin: 0 auto;
    display: grid;
    gap: 1.5rem;
    grid-template-columns: repeat(12, 1fr);
}
.container-2 > * {
    grid-column: span 12;
}
.container-3 {
    background: url(/LJ2/pink-purple-gradient-bg.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-color: #F5E5D4;
    background-size: cover;
    padding-bottom: 5rem;
    width: min(100%, 90rem);
    margin: 0 auto;
    display: grid;
    gap: 1.5rem;
    text-align: center;
    align-items: center;
    justify-content: center;
    grid-template-columns: repeat(12, 1fr);
}
.container-3 > * {
    grid-column: span 12;
}
h1 {
    font-size: 5rem;
    margin-top: 5%;
    padding: 0;
 }
 h2 {
    font-size: 5rem;
    padding: 0;
 }

 .smoothies-body-bg {
    background: rgb(111,67,142);
    background: linear-gradient(180deg, rgba(111,67,142,1) 0%, rgba(111,67,142,1) 41%, rgba(210,186,194,1) 41%, rgba(116,70,145,1) 100%);
}
.berry-body-bg {
    background: rgb(111,67,142);
    background: linear-gradient(180deg, rgba(111,67,142,1) 3%, rgba(27,20,100,1) 24.2%, rgba(245,229,212,1) 22%, rgba(116,70,145,1) 53.9%, rgba(255,255,255,1) 53%);
 }
.orange-body-bg {
    background: rgb(111,67,142);
    background: linear-gradient(180deg, rgba(111,67,142,1) 7%, rgba(253,146,31,1) 26.2%, rgba(209,197,184,1) 25%, rgba(116,70,145,1) 52.6%, rgba(255,255,255,1) 50%);
}
.green-body-bg {
    background: rgb(111,67,142);
    background: linear-gradient(180deg, rgba(111,67,142,1) 7%, rgba(174,211,32,1) 25%, rgba(209,197,184,1) 26%, rgba(116,70,145,1) 56%, rgba(255,255,255,1) 52%);
} 

}

/**** Desktop Layout ****/
@media screen and (min-width: 40rem) {

    /* Navbar Layout */
    .navbar-logo {
        grid-column: 2 / span 2;
        display: grid;
        justify-content: center;
        align-items: center;
    }
    .navbar-1 {
        grid-column: 8 / span 1;
        font-size: 92%;
        display: grid;
        justify-content: center;
        align-items: center;
    }
    .navbar-2 {
        grid-column: 9 / span 1;
        font-size: 92%;
        display: grid;
        justify-content: center;
        align-items: center;
        padding: 1%;
        margin-top: 9%;
        text-align: center;
    }
    
    .navbar-right-1 {
        grid-column: 10 / span 2;
        display: grid;
        justify-content: center;
        align-items: center;
    }


    /* Body Part for aboutus Layout */
    .fresh-pressed-juice-1 {
        grid-column: 2 / span 5;
        display: block;
        justify-content: center;
        align-items: center;
    }
    .fresh-pressed-juice-2 {
        grid-column: 7 / span 7;
        margin-top: 10%;
    }
    .about-us-1{
        grid-column: 1 / span 6;
        display: block;
        justify-content: center;
        align-items: center;
        margin-bottom: -4px;
    }
    .about-us-2 {
        grid-column: 7 / span 7;
        display: block;
        justify-content: center;
        align-items: center;
        margin-left: -1.5rem;
        margin-bottom: -0.6%;
    }
    .about-us-1 img{
        display: flex;
    }
    .about-us-2 {
        background-color: #F3F3F3;
        padding: 2rem 0;
    }
    .about-us-2 a {
        color: white;
        text-decoration: none;
    }
    .products-button {
        background-color: #6F438E;
        font-size: 1rem;
        padding: 10px 20px;
        margin: 1rem 1rem 1rem 15rem;
        border: 2px;
        border-color: rgb(133 130 130);
        border-radius: 30px;
        box-shadow: 0 0.125rem 0.5rem rgb(0 0 0 / 15%);
        transition: background-color 0.5s ease;
    }
    .products-button:hover {
        background-color: #707070;
    }

    /* Footer Layout */
    .footer-1 {
        grid-column: 2 / span 2;
    }
    .footer-2 {
        grid-column: 4 / span 2;
    }
    .footer-3 {
        grid-column: 2 / span 10;
    }

     /* Body Part for Smoothies Page Layout */
     .smoothie-2 {
         grid-column: 2 / span 3;
         width: 70%;
     }
     .smoothie-3 {
        grid-column: 5 / span 4;
        width: 60%;
    }
    .smoothie-4 {
        grid-column: 9 / span 4;
        width:60%;
    }

     /*Berry Web Layout*/
    .berry{
        background-image: url(/LJ2/berrypage-compressed.png);
        background-repeat: no-repeat;
        background-size: cover;
        padding-left: 5rem;
        margin-top: -4%;
        padding-top: 2%;
     }
     .orange {
        background-image: url(/LJ2/orangepage-min.png);
        background-repeat: no-repeat;
        background-size: cover;
        height: 56rem;
        padding-left: 5rem;
        margin-top: 0;
     }
     .green {
        background-image: url(/LJ2/greenpage-compressed.png);
        background-repeat: no-repeat;
        background-size: cover;
        margin-top: -0.7%;
        padding-left: 8rem;
     }


    /* Body Part for Orange, Green, Berry Page Layout */
    .benefits {
        margin-top: -2%;
    }

    .benefits-info img{
        flex-shrink: 0;
        object-fit: contain;
        padding: 2rem 2rem;
      }
      .benefits-info {
         display: flex;
         width: 100%;
         height: 70%;
         margin-top: -20rem;
         animation: greenpage 30s infinite linear;
     }
     
    .product-image-1 {
        margin-top: -2rem;
        grid-column: 2 / span 10;
    }
    .product-image-2 {
        grid-column: 2/ span 5;
        margin-top: -7rem;
    }
    .product-image-3 {
        grid-column: 7 / span 5;
        margin-top: -7rem;
    }
    .product-image-4-button {
        margin-top: 0;
        margin-bottom: 2rem;
        grid-column: 2 / span 10
    }
    .product-image-4-button a{
        color: #6F438E;
        text-decoration: none;
     }
    
     .backtohomepage-button {
        font-size: 88%;
        padding: 3% 37%;
        text-align: center;
        border-color: black;
        box-shadow: 0 0.125rem 0.5rem rgb(0 0 0 / 15%);
        transition: background-color 0.5s ease;
     }
     .backtohomepage-button:hover {
        color: white;
        background-color: #b1b1b1;
     }
}